.banner{
    background-color: rgb(255, 255, 255);
    background-position: top;
    background-size: cover;
    position: relative;
}

/*navbar*/
.bg-custom {
    background-color: #0b0eee00;
}

.navbar-brand{
    font-size: 30px !important;
    font-weight: 800;
}

.nav-link{
    font-size: 20px !important;
    font-weight: 800;
}

/*text-li*/
.text-li-1{
    list-style: none;
    width: 100%;
    text-align:center;
    line-height:100%;
    font-size: 50px;
    color: rgb(94, 93, 93);
}

.text-li-1 span{
    position: relative;
}

.text-li-1 span::after{
    content:"";
    position: absolute;
    height: 100%;
    width: 100%;
    border-left:3px solid rgb(94, 93, 93);
    background: rgb(255, 255, 255);
    left: 0;
    animation: typing 3s steps(18) infinite;
}

.text-li-2{
    list-style: none;
    width: 100%;
    text-align:center;
    line-height:100%;
    font-size: 20px;
    color: rgb(47, 39, 146);
}

.text-li-2 span{
    position: relative;
}

.text-li-2 span::after{
    content:"";
    position: absolute;
    height: 100%;
    width: 100%;
    border-left:3px solid rgb(47, 39, 146);
    background: rgb(255, 255, 255);
    left: 0;
    animation: typing 5s steps(18) infinite;
}

.text-li-3{
    list-style: none;
    width: 100%;
    text-align:center;
    line-height:100%;
    font-size: 40px;
    color: rgb(201, 24, 38);
}

.text-li-3 span{
    position: relative;
}

.text-li-3 span::after{
    content:"";
    position: absolute;
    height: 100%;
    width: 100%;
    border-left:3px solid rgb(201, 24, 38);
    background: rgb(255, 255, 255);
    left: 0;
    animation: typing 4s steps(15) infinite;
}

@keyframes typing {
    100%{
        left: 100%;
    }
}

.text-me {
    list-style: none;
    text-align:center;
    line-height:500%;
    font-size: 50px;
    color: rgb(94, 93, 93);
	animation: text-me 3.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-me {
    0% {
      filter: blur(0.01);
    }
    100% {
      filter: blur(12px) opacity(0%);
    }
}

.text-name {
    list-style: none;
    text-align:center;
    line-height:100px;
    font-size: 50px;
    color: rgb(94, 93, 93);
	animation: text-name 3.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes text-name {
    0% {
      letter-spacing: 1em;
      transform: translateZ(400px) translateY(300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }

/*title*/

.text-title {
    list-style: none;
    text-align:center;
    line-height:500%;
    font-size: 50px;
    color: rgb(94, 93, 93);
}

/*aboutme*/
.aboutme{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.aboutmepic{
    width:50%;
    height:50%;
    margin:0px auto;
}

.aboutmepic img{
    border-radius: 50%;
    border: 5px double white;
}

.aboutmetext{
    color: rgb(94, 93, 93);
    border-width: 3px;  
    margin:0px auto;
}

.aboutmewordtext{
    color: rgb(94, 93, 93);
    border-width: 3px;  
    text-align: center;
}

/*myskills*/
.myskills{
    background-image: linear-gradient(to top, #ace0f9 0%, #a18cd1 100%);
}

.myskillstext{
    color: rgb(94, 93, 93);
    border-width: 3px;  
}

.myskillswordtext{
    color: #22577A;
    border-width: 3px;  
    text-align: center;
}

.myskillsbox{
    height: 450px;
    width: 100%;
    border-radius: 30px;
    background-color: White;
    border: 3px solid #38A3A5;
    margin:auto;
    opacity: 0.9;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

.myskillsbox:hover{
    box-shadow: 10px 10px 5px rgb(66, 182, 224);
    opacity: 1;
}

.myskillstop { 
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

/*hr*/
.hr1{
    background-color: pink;
	border-top: 4px dashed white;
}

.hr2{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    width: 50%;
    margin: auto;
}

.line-python{
    width: 70%;
    border-bottom: 20px solid #38A3A5;
}

.line-python:hover{
    border-bottom: 20px solid rgb(240, 8, 220);
}

.line-c{
    width: 50%;
    border-bottom: 20px solid #38A3A5;
}

.line-java{
    width: 60%;
    border-bottom: 20px solid #38A3A5;
}

.line-csharp{
    width: 30%;
    border-bottom: 20px solid #38A3A5;
}


